* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
    transition: all 0.3s ease-in-out;
}


/* width */
::-webkit-scrollbar {

    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #333;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}


.btn-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    align-content: center;
    background-color: var(--primary-color);
    z-index: 140000000000000;
}

.top-icon {
    background-color: transparent !important;
    color: #fff;
    font-size: 24px;
}

/* start navbar */

.main-nav {
    position: sticky;
    z-index: 100000000000;
}




.web-brand {
    color: var(--primary-color);
    font-family: Lobster;
    font-size: 30px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    font-style: italic;
}

.web-brand span {
    color: #FF7426;
    font-family: Lobster;
    font-size: 30px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}


.nav-sections {
    max-width: 450px;
    display: flex;
    justify-content: space-between;
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.32px;
}

.nav-sections a {
    color: var(--primary-color);
    text-decoration: none;
}



.nav-socaial {
    display: flex;
    justify-content: space-between;
    width: 133.962px;
    margin: auto;
}


@media (max-width: 768px) {
    .nav-socaial {
        flex-direction: row;
        justify-content: space-between;
    }
}

.nav-socaial li a {
    color: var(--primary-color);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.32px;

}

/* end navbar */


/* start header */
.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: stretch;
}

@media (max-width: 1198px) {
    .btn-header {
        margin: auto;
    }

    .header-row {
        flex-direction: column;
    }

    .header-badge {
        display: none;
    }

    .header-left {
        width: 100%;
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;
        border-bottom-right-radius: 100px;
        border-top-right-radius: 100px;
    }
}

.header-badge {
    z-index: 1000;
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    left: 50%;
    top: 100px;
    transform: translate(-50%);
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    overflow: hidden;
}

.header-right img {
    height: 100%;
    object-fit: cover;
}

.header-left {
    background-color: #E7FAFE;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    padding: 2rem;
}

.header-left .btn-header {
    display: block;
    text-decoration: none;
    color: var(--primary-color);
    align-content: center;
    text-align: center;
    width: 156px;
    height: 50px;
    border-radius: 30px;
    background: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.28px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.header-left .btn-header span {
    padding-right: 1rem;
}

.header-left .header-content h1 {
    margin-top: 1rem;
    color: #000;
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -2.56px;
    margin-bottom: 1rem;
}

@media (max-width: 1198px) {

    .header-left .header-content h1,
    .header-left .header-content p {
        text-align: center;
    }
}

.header-left .header-content p {
    color: rgba(0, 0, 0, 0.60);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 2rem;
}

.header-btn {
    margin-top: 2rem;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.header-btn a {
    align-content: center;
    text-align: center;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.60);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.28px;
    display: block;
    width: 139px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.05);
}

@media (max-width: 992px) {}

.header-btn {
    width: 100%;
    margin: auto;
    justify-content: space-around;
}

.header-btn a span {
    padding-right: .6rem;
}

.header-btn a span {
    color: var(--primary-color);
    font-size: 16px;
}


.recipes {
    margin-top: 6rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}




.recipes .left {
    width: 35%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.recipes .left div {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.recipes .left div h4 {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.32px;
}

.recipes .left div p {
    color: rgba(0, 0, 0, 0.60);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.28px;
}

.btn-black {
    color: #fff;
    text-decoration: none;
    text-align: center;
    align-content: center;
    display: block;
    background-color: var(--primary-color);
    width: 200px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 16px;
}

.recipes .right span {
    padding-left: .6rem;
}

@media (max-width: 1200px) {
    .recipes {
        margin-top: 1rem;

    }

    .recipes .left {
        width: 30%;
    }
}

@media (max-width: 1198px) {
    .header-right {
        display: none;
    }

}

@media(max-width: 768px) {
    .recipes {
        margin-top: 2rem;
    }

    .recipes .left {
        flex-direction: column;
    }
}

@media (max-width: 576px) {
    .recipes {
        margin-top: 4rem;
        flex-direction: column;
    }

    .recipes .left {
        width: 100%;
    }
}


/* end header */


/* start categories */
.category {}

.category .category-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
}

.category .category-head h2 {
    color: #000;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1.92px;
}

.category .category-head a {
    align-content: center;
    text-align: center;
    display: block;
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.32px;
    width: 200px;
    height: 60px;
    border-radius: 16px;
    background: var(--secondary-background-color);
}

@media (max-width: 768px) {
    .category .category-head {
        flex-direction: column;
    }

    .category .category-head h2 {
        margin-bottom: 1rem;
    }
}

.category .categories {
    flex-wrap: wrap;
}

@media(max-width: 1198px) {
    .category .categories {}
}

.category .categories .category-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    margin-bottom: 2rem;
}



.category .categories .category-item:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.breakfast {
    background: linear-gradient(180deg, rgba(112, 130, 70, 0.00) 0%, rgba(112, 130, 70, 0.10) 100%);
}

.vegan {
    background: linear-gradient(180deg, rgba(108, 198, 63, 0.00) 0%, rgba(108, 198, 63, 0.10) 100%);
}

.meat {
    background: linear-gradient(180deg, rgba(255, 116, 38, 0.00) 0%, rgba(255, 116, 38, 0.10) 100%);
}

.dessert {
    background: linear-gradient(180deg, rgba(240, 158, 0, 0.00) 0%, rgba(240, 158, 0, 0.10) 100%);
}

.lunch {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.05) 100%);
}

.chocolate {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.05) 100%);
}

/* End categories */



/* start special section */

.special-section {
    text-align: center;
}

.special-section h1 {
    font-size: 48px;
    font-weight: 600;
    letter-spacing: -1.92px;
}

@media (max-width: 768px) {
    .special-section h1 {
        font-size: 32px;
    }
}

.special-section p {
    color: rgba(0, 0, 0, 0.60);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    width: 706px;
    margin: auto;
    /* 175% */
}

@media (max-width: 768px) {
    .special-section p {
        width: 100%;
    }

}

/* end special section */



/* start dishes */
.dishes {
    flex-wrap: wrap;
    align-items: stretch !important;
}

.dishes .card {
    min-height: 500px;

}

.dishes .ad-cont {
    min-height: 500px;
}

.dishes .ad-card {
    height: 100%;
}


.dishes .dish {
    display: flex;
    flex-direction: column;
}


.dishes .ad-card {
    min-height: 450px;
}

.dishes .card {
    border: none;
    margin-bottom: 1rem;
}

.dishes .dish {
    background: linear-gradient(180deg, rgba(231, 249, 253, 0.00) 0%, #E7F9FD 100%);
    border-radius: 30px;
    padding: 1rem;
}



.dishes .dish .btn-fav {
    right: 30px;
    top: 30px;
}

.dishes .dish img {
    width: 100%;
    border-radius: 30px;
    margin-bottom: 4rem;
}

.dishes .dish .dish-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dishes .dish .dish-content h4 {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    /* 133.333% */
    letter-spacing: -0.96px;
    margin-bottom: 3rem;
    text-align: center;
}

.dishes .dish .dish-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}



.dishes .dish .dish-btn a {
    width: 50%;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.60);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.28px;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.dishes .dish .dish-btn .dish-icon {
    flex-shrink: 0;
    color: var(--primary-color);
    font-size: 24px;
    margin-bottom: 1rem;
}

.ad-cont {
    z-index: -10000000000;
}

.dishes .ad-card {
    width: 100% !important;
    flex-shrink: 0;
    background: linear-gradient(180deg, #357355 0%, #1D483B 100%);
    position: relative;
    z-index: -8000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.dishes .ad-card::before {
    content: url('../images/dishes/Star\ 1.png');
    position: absolute;
    z-index: -9999;
}

.dishes .ad-card p {
    color: #FFF;
    text-align: center;
    font-family: Lobster;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 0px;
}

.dishes .ad-card img {
    width: 100%;
    flex-shrink: 0;
    margin: 0px;
}

.dishes .ad-card a {
    margin-top: -45px;
    display: block;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.28px;
}

/* end dishes */




/* start chef section */

.chef .chef-right {
    border-radius: 30px;
    background: linear-gradient(180deg, rgba(231, 249, 253, 0.00) 0%, #E7F9FD 100%);
}

.chef .chef-right img {
    width: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.chef .chef-left {
    padding: 2rem;
}

.chef .chef-left h2 {
    color: #000;
    font-size: 48px;
    font-weight: 600;
    letter-spacing: -1.92px;
    margin-bottom: 2rem;
}

@media (max-width: 768px) {
    .chef .chef-left h2 {
        text-align: center;
        font-size: 32px;
    }

}

.chef .chef-left p {
    max-width: 508px;
    color: rgba(0, 0, 0, 0.60);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 5rem;
}


@media (max-width: 768px) {
    .chef .chef-left {
        text-align: center;
    }


    .chef .chef-left a {
        margin: auto;
    }

}

/* end chef section */



/* start instagram section */
.instagram {
    background: linear-gradient(180deg, rgba(231, 249, 253, 0.00) 0%, #E7F9FD 100%);
}

.instagram .special-section {
    margin-bottom: 4rem;
}

.instagram .posts .post {
    background-color: transparent;
    margin-bottom: 2rem;
}

.instagram .btn-black {
    padding: 1rem;
    width: fit-content;
}

.instagram .btn-black .insta-icon {
    width: 22px;
    height: 22px;
    flex-shrink: 0;
    font-size: 50px;
    margin-left: 10px;
}

/* end instagram section */


/* start try dish section */
.tryDishes {
    display: flex;
    flex-wrap: nowrap;
}

.tryDishes .header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-self: center;
    margin-bottom: 4rem;
}

@media (max-width: 1400px) {

    .tryDishes .header h2,
    .tryDishes .header p {
        width: 100%;
        text-align: center;
    }

    .tryDishes .header h2 {
        margin-bottom: 2rem !important;
    }
}

.tryDishes .header h2 {
    margin: auto;
    align-content: center;
    align-self: flex-start;
    max-width: 507px;
    color: #000;
    font-size: 48px;
    font-weight: 600;
    letter-spacing: -1.92px;
}

.tryDishes .header p {
    margin: auto;
    align-self: flex-end;
    max-width: 620px;
    color: rgba(0, 0, 0, 0.60);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}


.tryDishes .dish {
    background-color: white !important;
    background: transparent;
    border: 1px solid #E7F9FD;
    min-height: 520px !important;
}

/* start try dish section */



/* start Inbox */
.inbox {
    z-index: 10000000 !important;
    position: relative;
}

.inbox .container {
    border-radius: 60px;
    background: #E7F9FD;
    position: relative;
    overflow: hidden;
    z-index: -899;
}

.inbox .container::before {
    content: url('../images/inbox-left.png');
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -900;
}

.inbox .container::after {
    content: url('../images/inbox-right.png');
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -900;
}

@media (max-width: 996px) {
    .inbox .container::before {
        display: none;
    }

    .inbox .container::after {
        display: none;
    }
}

.inbox .container h2 {
    text-align: center;
    color: #000;
    font-size: 48px;
    font-weight: 600;
    letter-spacing: -1.92px;
    margin-bottom: 2rem;
    z-index: -899;
}

@media (max-width: 768px) {
    .inbox .container h2 {
        font-size: 32px;
    }
}

.inbox .container p {
    margin: auto;
    text-align: center;
    max-width: 620px;
    color: rgba(0, 0, 0, 0.60);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 4rem;
    z-index: -899;
}

.email-group {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.email-group input[type="email"] {
    display: block;
    width: 480px !important;
    height: 80px;
    font-size: 16px !important;
    border-radius: 24px;
    background: #FFF;
    padding-left: 3rem;
    padding-right: 12rem;
    border: 0px;
    color: var(--primary-color);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.28px;
    z-index: 9000;
}

.email-group input::placeholder {
    color: rgba(0, 0, 0, 0.40);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.28px;
    margin-right: 0px;
}

.email-group button {
    width: 160px;
    height: 60px;
    flex-shrink: 0;
    margin-left: 0px;
    border-left: 0px;
    border-radius: 24px;
    border-color: transparent;
    background-color: #000;
    color: white;
    margin-left: -170px;
    z-index: 9001;
}

@media (max-width: 768px) {
    .email-group {
        display: flex;
        flex-direction: column;
    }

    .email-group input[type="email"] {
        width: 100% !important;
        padding: 0px;
        border-radius: 24px 24px 0px 0px;
        margin: 0px;
        text-align: center;
    }

    .email-group button {
        margin-left: 0px;
        width: 100%;
        margin: 0px;
        border-radius: 0px 0px 24px 24px;
    }

}

/* end Inbox */



/* start footer */
footer .footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

@media (max-width: 992px) {
    footer .footer-top {
        flex-direction: column;
        text-align: center;
    }
}

footer .footer-top .footer-left {
    display: flex;
    flex-direction: column;
}

@media (max-width: 992px) {
    footer .footer-top .footer-left {
        margin-bottom: 1rem;
    }
}

footer .footer-top .footer-left p {
    color: rgba(0, 0, 0, 0.60);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 2rem;
}

@media (max-width: 992px) {
    footer .footer-top .footer-right {
        width: 100%;
    }
}

footer .footer-top .footer-right ul {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    width: 100%;
}


footer .footer-top .footer-right ul li {
    border-radius: 50%;
    width: 80px;
    height: 50px;
}

footer .footer-top .footer-right ul li a {
    display: block !important;
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.32px;
    width: 100%;
    height: 100%;
    text-align: center;
    align-content: center;
    border-radius: 30px;
}

footer .footer-top .footer-right ul li a:hover {
    background-color: #000;
    color: white;
}

.footer-line {
    height: 1px;
    background-color: rgba(0, 0, 0, 0.10);
    margin-bottom: 4rem;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

@media (max-width: 992px) {
    footer .footer-bottom {
        flex-direction: column;
    }
}

.footer-bottom .footer-left p {
    color: rgba(0, 0, 0, 0.60);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 2rem;
    text-align: end;
}


.footer-bottom .footer-left p span {
    color: #FF7967;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.36px;
}

.footer-bottom .footer-right ul {
    margin-left: auto;
    width: 133.962px !important;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    width: 100%;
}

.footer-bottom .footer-right ul li a {
    display: block !important;
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.32px;
}

@media (max-width: 992px) {

    footer .footer-bottom .footer-left,
    footer .footer-bottom .footer-right {
        width: 100%;
    }

    footer .footer-bottom .footer-left p {
        text-align: center !important;
    }

    footer .footer-bottom .footer-right ul {
        margin: auto;
    }
}

/* end footer */














/* start Contact Page */
.contact {}

.contact .contact-text {
    color: #000;
    font-size: 64px;
    font-weight: 600;
    letter-spacing: -2.56px;
    text-align: center;
    margin-bottom: 4rem;
}

.contact .contact-left {
    background: linear-gradient(180deg, rgba(231, 249, 253, 0.00) 0%, #E7F9FD 100%);
    border-radius: 30px;
    overflow: hidden;
    margin-bottom: 4rem;
}

.contact .contact-left img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.contact .contact-right {
    padding: 2rem;
}

.contact .contact-right form label {
    color: rgba(0, 0, 0, 0.60);
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    /* 166.667% */
    letter-spacing: 0.96px;
    text-transform: uppercase;
}

.contact .contact-right form input,
.contact .contact-right form select {
    max-width: 400px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: #FFF;
}

.contact .contact-right form input::placeholder,
.contact .contact-right form select,
.contact .contact-right form textarea::placeholder {
    color: rgba(0, 0, 0, 0.60);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 171.429% */
    letter-spacing: -0.28px;
}

.contact .contact-right form textarea {
    max-width: 840px;
    min-height: 200px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: #FFF;
    resize: none;
}

@media (max-width: 768px) {

    .contact .contact-right form textarea,
    .contact .contact-right form input,
    .contact .contact-right form select {
        max-width: 100%;
    }
}


/* End Contact Page */









/* start Delicious */

.delicious h2 {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: -1.44px;
    margin-bottom: 3rem;
    text-align: center;
}

.delicious .card {
    min-height: 400px;
}

.delicious .delicious-card img {
    flex-shrink: 0;
    border-radius: 20px;
    background: url(<path-to-image>) lightgray -49.133px 0px / 133.885% 100% no-repeat;
}

.delicious .delicious-card .card-body {
    padding-right: 0px;
}

.delicious .delicious-card h5 {
    width: 100%;
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    /* 144.444% */
    letter-spacing: -0.72px;
    margin-bottom: 2rem;
}

.delicious .delicious-card .info a {
    color: rgba(0, 0, 0, 0.60);
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.28px;
    text-align: center;
}

.delicious .delicious-card .info a span {
    color: var(--primary-color);
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}




/* end Delicious */




/* start Recipe */
.recipes-header h1 {
    font-size: 64px;
    font-weight: 600;
    letter-spacing: -2.56px;
    text-align: start;
    margin-bottom: 4rem;
}

@media (max-width: 996px) {
    .recipes-header h1 {
        text-align: center;
    }
}

@media (max-width: 768px) {
    .recipes-header h1 {
        font-size: 32px;
    }

}

.recipes-header .container .recipes-container {
    flex-wrap: wrap;
}

.recipes-header .container .recipes-header-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

@media (max-width: 996px) {
    .recipes-header .container .recipes-header-row {
        margin-bottom: 2rem;
    }
}

@media (max-width: 768px) {
    .recipes-header .container .recipes-header-row {}

}

.recipes-header .container .recipes-header-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

@media (max-width: 768px) {
    .recipes-header .container .recipes-header-left .recipes-header-row {
        flex-direction: column;
    }

    .recipes-header .container .recipes-header-left .recipes-header-row .infos {
        margin-bottom: 2rem;
        padding: 2rem;
        border-left: none !important;
        border-bottom: 1px solid rgba(0, 0, 0, 0.10);
        justify-content: space-between;
    }

    .recipes-header .container .recipes-header-left .recipes-header-row .infos img {
        width: 50px;
        height: 50px;
        margin-right: 0px;
    }

}

.recipes-header .container .recipes-header-left .infos {
    height: 50px;
    padding: 1rem;
}


.recipes-header .container .recipes-header-left .infos:not(:first-child) {
    border-left: 1px solid rgba(0, 0, 0, 0.10);
}

@media (max-width:768px) {}

.recipes-header .container .recipes-header-left .first {
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.recipes-header .container .recipes-header-left .first img {
    margin-right: .7rem;
}

.recipes-header .container .recipes-header-left .first div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.recipes-header .container .recipes-header-left .first div h4 {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.32px;
}

.recipes-header .container .recipes-header-left .first div p {
    color: rgba(0, 0, 0, 0.60);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.28px;
    margin: 0px;
}

.recipes-header .container .recipes-header-left .second {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}



.recipes-header .container .recipes-header-left .second img {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.recipes-header .container .recipes-header-left .second div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.recipes-header .container .recipes-header-left .second div h6 {
    color: #000;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1.2px;
}

.recipes-header .container .recipes-header-left .second div p {
    color: rgba(0, 0, 0, 0.60);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.28px;
    margin: 0px;
}

.recipes-header .container .recipes-header-left .third {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.recipes-header .container .recipes-header-left .third img {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.recipes-header .container .recipes-header-left .third div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.recipes-header .container .recipes-header-left .third div p {
    margin: 0px;
}

.recipes-header .container .recipes-header-right {
    display: flex;
    align-items: end;
    justify-content: end;
}

@media (max-width: 996px) {
    .recipes-header .container .recipes-header-right {
        flex-direction: column;
        align-items: center;
        justify-self: center;
    }
}

@media (max-width: 768px) {
    .recipes-header .container .recipes-header-right {
        flex-direction: column;
    }
}

.recipes-header .container .recipes-header-right .cont {
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


@media (max-width: 996px) {
    .recipes-header .container .recipes-header-right .cont .col-md-6 {
        width: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .recipes-header .container .recipes-header-right {
        flex-direction: column;
    }

    .recipes-header .container .recipes-header-right .cont {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}



.recipes-header .container .recipes-header-right .cont .col-md-6 a {
    display: block;
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    background-color: #E7F9FD;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.recipes-header .container .recipes-header-right .cont .col-md-6 p {
    text-align: center;
    color: #000;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1.2px;
}




/* end Recipe */



/* start recipes-info section */

.recipes-info .recipes-info-left {
    flex-shrink: 0;
    border-radius: 30px;
    background: #C4C4C4;
    position: relative;
}

.recipes-info .recipes-info-left::before {
    content: url('../images/start-video.png');
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 5000;
    cursor: pointer;
}


@media (max-width: 996px) {
    .recipes-info .recipes-info-left {
        margin-bottom: 2rem;
    }
}

.recipes-info .recipes-info-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
    /* center */

}

.recipes-info .card {
    border-radius: 30px;
    background: #E7FAFE;
    /* Remove card border */
    padding: 1rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    /* Card padding */
}

.recipes-info .card-body {
    padding: 0;
}

.recipes-info .card-title {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -0.96px;
}

.recipes-info .dish-info {
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
}

.recipes-info .dish-info span {
    display: inline-block;
    /* Inline-block display for span elements */
}

.recipes-info .dish-info span:first-child {
    color: rgba(0, 0, 0, 0.60);
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.72px;
}

.recipes-info .dish-info span:last-child {
    color: #000;
    text-align: right;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.72px;
}

.recipes-info .card-ul {
    margin-bottom: 10rem;
}

@media (max-width:996px) {
    .recipes-info .card-ul {
        margin-bottom: 5rem;
    }
}

.recipes-info .recipes-info-content p {
    color: rgba(0, 0, 0, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.recipes-info .recipes-info-content {
    margin-bottom: 5rem;
}

.recipes-info .recipes-info-text {
    text-align: start !important;
    color: rgba(0, 0, 0, 0.60);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}



/* end recipes-info section */


/* start ingredients */
.main-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
}

@media (max-width:1400px) {
    .main-row {
        flex-direction: column;
    }
}

.left-section {
    margin-bottom: 2rem;
}


@media (max-width:1400px) {

    .left-section,
    .right-section {
        width: 100%;
    }
}

.other-recipe-card {
    justify-content: space-between;
}

@media (max-width:768px) {
    .other-recipe-card {
        margin-bottom: 4rem;
    }
}

@media (min-width:996px) {
    .other-recipe-card {
        margin-bottom: 4rem;
    }
}


@media (min-width:996px) and (max-width:1400px) {
    .other-recipe-card {
        width: fit-content;
    }

    .other-recipe-row {
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .other-recipe-row .card {
        width: fit-content !important;
    }

    .other-recipe-row .card:not(:last-child) {
        width: 50% !important
    }
}

@media (min-width:768px) and (max-width:1400px) {
    .other-recipe-card {
        justify-content: start;
    }
}

.other-recipe-card .other-recipe:not(:last-child) {
    margin-bottom: 1rem;

}

.other-recipe-row {
    justify-content: space-between;
}

@media (max-width:1400px) {
    .other-recipe-row {
        display: flex;
        flex-direction: row;
    }
}

@media (max-width:996px) {}

.other-recipe {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media (min-width:996px) and(max-width:1200px) {
    .other-recipe {
        flex-wrap: nowrap;
    }

}


.recipe-content {
    margin: auto;
}

.right-section h4 {
    margin-bottom: 2rem;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: -1.28px;
}

.other-recipe img {
    margin-right: 1rem;
    border-radius: 30px;
}

.recipe-content h6 {
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    /* 140% */
    letter-spacing: -0.8px;
}

.recipe-content p {
    padding: 0px;
    margin: 0px;
    color: rgba(0, 0, 0, 0.60);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.28px;
}

.ad-card {
    background: linear-gradient(180deg, #357355 0%, #1D483B 100%);
}

.ad-card .card-title {
    color: #FFF;
    text-align: center;
    font-family: Lobster;
    font-size: 24px;
    font-weight: 400;
}

.ad-card img {
    width: 100%;
    flex-shrink: 0;
    margin: 0px;
}

.ad-card .card-footer p {
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.28px;
}





.left-section {
    display: flex;
    flex-direction: column;
}

.left-section .ingredients,
.left-section .directions {
    display: flex;
    flex-direction: column;
}

.left-section .ingredients h3 {
    color: #000;
    font-family: Inter;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: -1.44px;
    margin-bottom: 3rem;
}

.left-section .ingredients h6 {
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -0.96px;
    margin-bottom: 2rem;
}

.ingredients .check-form,
.directions .check-form {
    position: relative;
    margin-bottom: 2rem;
    padding: 1rem 0rem;
}

.ingredients .check-form {
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
}

.ingredients .check-form:last-child,
.directions .check-form:last-child {
    margin-bottom: 4rem !important;
}

.ingredients .check-form input[type="checkbox"],
.directions .check-form input[type="checkbox"] {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    cursor: pointer;
    z-index: 1000;
}

.ingredients .check-form .check-mark,
.directions .check-form .check-mark {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.20);
    cursor: pointer;
}

.ingredients .check-form .check-mark::before,
.directions .check-form .check-mark::before {
    content: url('../images/checked.png');
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 24px;
    /* Adjust size of the checked icon */
    height: 24px;
    /* Adjust size of the checked icon */
    display: none;
}

.ingredients .check-form input[type="checkbox"]:checked+.check-mark::before,
.directions .check-form input[type="checkbox"]:checked+.check-mark::before {
    display: block;
}


.ingredients .check-form label {
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 175% */
    margin-left: 4rem;
}

.text-checked {
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.60) !important;
}


.left-section .directions h3 {
    color: #000;
    font-family: Inter;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: -1.44px;
    margin-bottom: 3rem;
}

.left-section .directions .check-form label {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -0.48px;
    margin-left: 4rem;
}

.left-section .directions .direction {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
}

.left-section .directions .direction img {
    width: 100%;
    border-radius: 30px;
    margin-bottom: 2rem;
    max-width: 792px;
}

.left-section .directions .direction p {
    color: rgba(0, 0, 0, 0.60);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.32px;
    margin-bottom: 3rem;
    max-width: 792px;

}

@media (max-width:996px) {
    .directions .direction p {
        text-align: center;
    }
}

@media (max-width:768px) {
    .directions label {
        font-size: 18px !important;
        margin-left: 2rem !important;
    }
}

/* end ingredients */

/* start blog-list */
.landing-blog .landing-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing-blog .landing-text h2 {
    text-align: center;
    font-family: Inter;
    font-size: 64px;
    font-weight: 600;
    letter-spacing: -2.56px;
    margin-bottom: 2rem;
}

.landing-blog .landing-text p {
    max-width: 840px;
    color: rgba(0, 0, 0, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 5rem;
}

.landing-blog .email-group {
    width: 100%;
}

.landing-blog .email-group input {
    width: 100% !important;
    border: 1px solid rgba(0, 0, 0, 0.10) !important;
}

@media (min-width:1400px) {
    .landing-blog .email-group input {
        width: 50% !important;
        border: 1px solid rgba(0, 0, 0, 0.10) !important;
    }
}

.blog-articles .left-section .card {}

@media (max-width: 768px) {
    .blog-articles .left-section .card {
        flex-direction: row;
        flex-wrap: wrap;
        text-align: center !important;
        border: 1px solid rgba(0, 0, 0, 0.10) !important;
        margin-bottom: 2rem !important;
    }

    .blog-articles .left-section .card .blog-img {
        width: 100% !important;
        margin: auto !important;
        margin-bottom: 1rem !important;
    }

    .blog-articles .left-section .card .card-info {
        flex-direction: column;
        justify-content: center;
    }

}

@media (min-width:996px) {
    .blog-articles .left-section .card a {
        width: fit-content !important;
    }
}


.blog-articles .left-section .card img {
    border-radius: 30px;
    margin-right: 1rem;
}


.blog-articles .left-section .card .card-body .card-text {
    margin-bottom: 2rem;
}

.blog-articles .left-section .card .card-body .card-text h5 {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -0.96px;
    margin-bottom: 1rem;
}

.blog-articles .left-section .card .card-body .card-text p {
    color: rgba(0, 0, 0, 0.60);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    /* 175% */
}

.blog-articles .left-section .card .card-body .card-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.blog-articles .left-section .card .card-body .card-info .card-info-left {
    padding: 0rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-right: 1px solid rgba(0, 0, 0, 0.10);
    margin-right: 1rem;
}

.blog-articles .left-section .card .card-body .card-info .card-info-left img {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    margin-right: 1rem;
    border-radius: 50%;
}

.blog-articles .left-section .card .card-body .card-info .card-info-left p {
    margin: 0px;
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.32px;
}

.blog-articles .left-section .card .card-body .card-info .card-info-right {
    align-content: center;
}

.blog-articles .left-section .card .card-body .card-info .card-info-right p {
    margin: 0px;
    color: rgba(0, 0, 0, 0.60);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.28px;
}

.custome-pagination {
    width: fit-content;
    margin: auto;
    display: flex;
    margin-bottom: 4rem;
}

.custome-pagination .page-item {
    color: #000;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.36px;
    text-align: center;
    align-content: center;
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 16px;
    background: #FFF;
    margin-right: 1rem;
    transition: all 0s;
    cursor: pointer;
}

@media (max-width:768px) {
    .custome-pagination .page-item {
        font-size: 10px !important;
        width: 20px;
        height: 20px;
        font-size: 14px;
        margin-right: 0.5rem;
    }

}

.custome-pagination .page-item:hover {
    background: #000;
    color: #FFF;
}

.custome-pagination .active {
    background: #000 !important;
    color: #FFF !important;
}


/* start blog-list */


/* start blog-post */
.landing-blog-post .landing-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.landing-blog-post .landing-text h2 {
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    font-size: 64px;
    font-weight: 600;
    letter-spacing: -2.56px;
    margin-bottom: 4rem;
}

@media (max-width: 768px) {
    .landing-blog-post .landing-text h2 {
        font-size: 32px;
    }

}

.landing-blog-post .landing-text .blog-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;

}

.landing-blog-post .landing-text .blog-info .blgo-info-left {
    padding: 0rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    border-right: 1px solid rgba(0, 0, 0, 0.10);
}

.landing-blog-post .landing-text .blog-info .blgo-info-left img {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    margin-right: 1rem;
    border-radius: 50%;
}

.landing-blog-post .landing-text .blog-info .blgo-info-left h4 {
    margin: 0px;
    padding: 0px;
    color: #000;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.32px;

}

.landing-blog-post .landing-text .blog-info .blgo-info-right p {
    margin: 0px;
    color: rgba(0, 0, 0, 0.60);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.28px;
}


.landing-blog-post .landing-text .blog-p {
    max-width: 100%;
    color: rgba(0, 0, 0, 0.60);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 4rem;
}

.landing-blog-post .landing-img {
    border-radius: 30px;
    background: #C4C4C4;
    max-width: 100%;
}

.blog-articles .right-section h4 {
    text-align: center;
}

/* start social media */
.right-section .social-media {
    position: relative;
}

.right-section .social-media .box {
    border-radius: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 70px;
    position: relative;
    padding: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}


.right-section .social-media .box i {
    position: absolute;
    left: 0;
    top: 0;
    width: 52px;
    transition: 0.3s;
}

.right-section .social-media .box i:hover {
    transform: rotate(5deg);
}

.right-section .social-media .twitter {
    background-color: rgb(29 161 242 /20%);
    color: #1da1f2;
}

.right-section .social-media .twitter i,
.right-section .social-media .twitter a {
    background-color: #1da1f2;
}

.right-section .social-media .facebook {
    background-color: rgb(24 119 242 /20%);
    color: #1877f2;
}

.right-section .social-media .facebook i,
.right-section .social-media .facebook a {
    background-color: #1877f2;
}

.right-section .social-media .youtube {
    background-color: rgb(255 0 0 /20%);
    color: #ff0000;
}

.right-section .social-media .youtube i,
.right-section .social-media .youtube a {
    background-color: #ff0000;
}

.right-section .social-media .linkedin {
    background-color: rgb(0 119 181 /20%);
    color: #0077b5;
}

.right-section .social-media .linkedin i,
.right-section .social-media .linkedin a {
    background-color: #0077b5;
}

.btn-shape {
    padding: 1rem 2rem;
    border-radius: 30px;
    color: #fff;
}

/* end social media */

.blog-articles .left-section {
    display: flex;
    flex-direction: column;
}

.blog-articles .left-section .article {
    margin-bottom: 4rem;
    padding: 0rem 3rem;
}

.blog-articles .left-section .article h5 {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -0.96px;
    margin-bottom: 2rem;
}

.blog-articles .left-section .article p {
    max-width: 839px;
    color: rgba(0, 0, 0, 0.60);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    /* 175% */
}

.blog-articles .left-section .article img {
    width: 100%;
    border-radius: 30px;
    margin-bottom: 2rem;
}

.blog-articles .left-section .wise {
    max-width: 920px;
    min-height: 224px;
    flex-shrink: 0;
    padding: 3rem;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.00) 100%);
    margin-bottom: 4rem;
}

.blog-articles .left-section .wise p {
    height: 100%;
    align-content: center;
    font-size: 36px;
    font-style: italic;
    font-weight: 500;
    line-height: 64px;
    letter-spacing: -1.44px;
}

/* end blog-post */